body {
    padding: 0;
    margin: 0;
}

#logout-form {
    display: inline;
    padding-right: 20px;
}

#user-info {
    text-align: right;
    height: 55px;
    line-height: 55px;
    background-color: black;
    color: white;
}

#user-account {
    padding-right: 10px;
}

#content {
    padding: 10px;
}

.event-owner {
    width: 200px;
}

.event-title {
    width: 500px;
}

.event-header {
    background-color: orange;
}

.event-table thead td {
    padding: 5px;
}

.event-table tbody td {
    background-color: #eee;
    padding: 5px;
}

/* register form. */
.login-form-label {
    display: inline-block;
    width: 150px;
}

.login-form-div {
    height: 40px;
}

.signup-form-div {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    min-height: 20px;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-top: 30px;
}

.signup-form-textbox {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}

.grid-div {
    background: url("/static/image/grid.png") repeat-x;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    width: 100%;
}